html, body {
  margin: 0;
}

.app{
  display: flex;
}

.sidebar{
  background-color: #363131;
  width: 20vw;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.game{
  width: 80vw;
  height: 100vh;
  background-color: gray;
}

input[type=text], select{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type=submit] {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}